</main>
<script src="/js/siema.min.js"></script>
<script src="/app.js"></script>
<script src="/js/jquery-2.1.1.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>
<script src="/js/gmaps.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.mixitup.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
$(document).ready(function() {
   $(".default-children *").addClass("browser-default");
   {{ block "jquery" . }}
   {{ end}}
});
</script>
</body>
</html>
