</main>
<script src="/js/siema.min.js"></script>
<script src="/app.js"></script>
<script src="/js/jquery-2.1.1.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>
<script src="/js/gmaps.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.mixitup.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
$(document).ready(function() {
   $(".default-children *").addClass("browser-default");
   {{ block "jquery" . }}
   {{ end}}
   // Skills Chart

   var options = {
       //segmentShowStroke: false,
       percentageInnerCutout: 70,
       //animation: true,
       animationEasing: 'easeOutQuint',
       //animateRotate: false,
       animateScale: true
   };
   var data = {};
     {{ with .Site.GetPage "section" "skills" }}
     {{ range $index, $p := .Pages }}
      data["{{$p.Title | urlize | safeJS}}"] = [{
        value: {{ $p.Params.level}},
        color: {{ $p.Params.mainColor | default "#404148"}}
      },{
        value: {{ sub 100 $p.Params.level }},
        color: {{ $p.Params.secondaryColor | default "#fff"}}
      }]
     {{ end }}
     {{ end }}

   var offset = 0;
   $.each(data, function(key, data) {
       var canvas = document.querySelector('#' + key);
       if (canvas) {
           offset += 250;
           setTimeout(function() {
               var ctx = canvas.getContext('2d');
               var chart = new Chart(ctx);
               chart.Doughnut(data, options);
           }, offset);
       }
   });
});
</script>
</body>
</html>
