.resume.content {
    background-image: url('/img/patterns/witewall_3.png');
    margin: 7rem 1rem;
}

.resume-column > *:not(:last-child) {
    margin-bottom: 0.75rem;
}

.section-header {
    margin: 1rem 0;
    height: 4px;
    background-color: $grey-lighter;
}

.resume-container {
    
}

body {
    background-image: url('/img/patterns/stardust.png');
    @extend .scroll;
}

.darkness {
    background-image: url('/img/patterns/darkness.png');
}

.profile-photo {
    $size: 160px;
    width: $size;
    height: $size;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    display: inline-block;
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
    background-color: $light;

    img {
        $imgsize: 150px;
        width: $imgsize;
        height: $imgsize;
        max-width: 100%;
        border-radius: 50%;
        @extend .darkness, .reverseScrollSlow;
    }
}

.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    & > * {
        margin-right: 0.75rem;
    }
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-underlined {
    text-decoration: underline;
}

.half-size-icon {
    $size: 50% !important;
    height: $size;
    width: $size;
}