{{ partial "header" . }}

<div id="mainContainer1" class="container-fluid resume-container tertiary-color">
        <div class="print-only">
            <div class="" id="print-header">
                <h1 class="">Daniel Evans</h1>
                <div style="margin-top: -1.5rem;" class="print-header-items print-info">
                    <p class="condensed">123 DareDoes Site, Internet, WRLD 01101</p>
                    <p class="condensed">
                      {{ with .Site.GetPage "section" "contact"}}
                      {{ range $index,$p := where (.Pages.ByWeight) ".Params.printable" "==" true }}
                        {{ $p.Summary }} {{ if ne $index 0}}|{{end}}
                      {{ end }}
                      {{ end }}
                    </p>
                </div>
            </div>


            {{ with .Content }}
            <hr class="condensed">
            <div class="body">
               {{ . }}
            </div>
            {{ end }}
            {{ with .Site.GetPage "section" "education" }}
            {{ $pages := where (.Pages.ByDate.ByWeight) ".Params.printable" "==" true }}
            {{ if $pages }}
            <h5 class="print-header">Education</h5>
            <hr class="half-condensed">
            {{ range $pages }}
            <div class="print-header-items">
                        <h6 class="title">{{ .Title }} <span class="right">{{ .Params.display_date }}</span></h6>
                        <div class="body condensed context-text">{{ .Content }}</div>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ with .Site.GetPage "section" "experience" }}
            {{ $pages := where (.Pages.ByDate.ByWeight) ".Params.printable" "==" true }}
            {{ if $pages }}
            <h5 class="print-header">Experiences</h5>
            <hr class="half-condensed">
            {{ range $pages }}
            <div class="print-header-items">
                        <h6 class="title">{{ .Params.name }} - {{ .Title}} <span class="right">{{ .Params.display_date}}</span></h6>

                        <div class="body condensed context-text">{{ .Content }}</div>
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
            {{ with .Site.GetPage "section" "skills"}}
            {{ $pages := where (.Pages.ByWeight) ".Params.printable" "==" true }}
            {{ if $pages }}
            <div>
            <h5 class="print-header">Skills</h5>
                    <hr class="half-condensed">
                <div class="body row">
                  {{ range $index, $p := $pages }}
                    <span>{{ $p.Title }}</span>{{ if ne $index 0 }}<span> • </span>{{end}}
                    {{end}}
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
        <div class="card tertiary-color lighten-4 no-print resume">
            <div class="row center">
                <div id="photo" class="tertiary-color lighten-4 circle" >
                    <img src="/img/resume/avatar.jpg" alt="" class="circle responsive-img " style="vertical-align: middle">
                </div>
                <div class="col s12 no-print context-text">

                    <p class="center heavy" style="margin-top: -0.2em; margin-bottom: 0; font-size: 2.5em;">Hello,</p>
                    <p class="center heavy" style="margin-top: 0; font-size: 2em;">My name is <span class="secondary-color-text print">{{ .Params.first_name }} {{ .Params.last_name}}</span>
                        <sup class="tertiary-color-text text-lighten-1">22YO</sup> and this is
                      my resume/cv</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 l7">
                  {{ with .Content }}
                    <div class="row">
                    <p class="resume-section-header heavy secondary-color-text">//About Me</p>
                        <div id="about_text" class="context-text">
                            {{ . }}
                        </div>
                    </div>
                    {{ end }}
                    {{ with .Site.GetPage "section" "education"}}
                    <div class="row">
                    <p class="resume-section-header heavy secondary-color-text">//Education</p>
                        <ul class="collection tertiary-color lighten-4" style="border: 0;">
                            {{ range .Pages.ByDate.ByWeight }}
                                <li class="collection-item tertiary-color lighten-4 no-padding" style="border:0; padding: 1em 0em 5em 0.05em !important;" >
                                    <div class="left col no-padding m1 s2 l2">
                                        <span class="badge boxed tertiary-color">{{ .Params.display_date}}</span>
                                    </div>
                                    <div class="col m11 s10 l10">
                                        <span class="experience-title">{{ .Title }}</span>
                                        <br>
                                        <span class="context-text body">
                                            {{ .Content }}
                                        </span>
                                    </div>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                    {{ with .Site.GetPage "section" "experience"}}
                    <div class="row">
                    <p class="resume-section-header heavy secondary-color-text">//Experiences</p>
                        <div class="scroll-box">
                            <div class="row">
                              {{ range .Pages.ByDate.ByWeight }}
                                <div class="col s12">
                                    <div class="card tertiary-color lighten-4">
                                        <div class="card-content black-text content-text">
                                            <span class="card-title"><a href="{{ .Params.external_url }}" class="primary-color-text">{{.Params.name }} - {{ .Title }}</a></span>
                                            {{ .Content }}
                                        </div>
                                        <div class="card-action">
                                            <span class="">{{ .Params.display_date}}</span>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                    </div>

                <div class="col s12 l5">
                  {{ with .Site.GetPage "section" "contact" }}
                    <div class="row">
                    <p class="resume-section-header heavy secondary-color-text">//Contact</p><hr>
                        <ul class="collection tertiary-color lighten-4 " style="border: 0;">
                          {{ range $p := .Pages.ByTitle.ByWeight}}
                            <li class="collection-item avatar tertiary-color lighten-4" style="margin-bottom: -2em;">
                                <a href="{{ $p.Params.url }}"><i class="fa {{ $p.Params.icon}} circle blue lighten-1"></i></a>
                            <span class="title heavy">{{ $p.Title }}</span>
                                <p>{{ $p.Content }}</p>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                    {{ end }}
                    {{ with .Site.GetPage "section" "skills"}}
                    <div class="row">
                    <p class="resume-section-header heavy secondary-color-text">//Skills</p>
                    <hr>
                    <div class="row resume-bar-level-text tertiary-color-text text-darken-2">
                        <div class="col s3 center" style="border-top: double; border-left: double">
                            Beginner
                        </div>
                        <div class="col s3 center" style="border-top: double; border-left: double">
                            Competent
                        </div>
                        <div class="col s3 center" style="border-top: double; border-left: double; border-right: double;">
                            Expert
                        </div>
                        <div class="col s3 center" style="border-top: double; border-right: double">
                            Master
                        </div>
                    </div>
                    <div class="row scroll-box">
                      {{ range .Pages }}
                        <div class="resume-bar-holder">
                            <div class="resume-bar secondary-color" style="width: {{.Params.level}}%;">
                                <span class=" resume-bar-text primary-color-text">{{.Title }}</span>
                            </div>
                        </div>
                        {{ end }}
                    </div>

                  </div>
                  {{end}}
                  <div class="row">
                    <p class="resume-section-header heavy secondary-color-text">//Hobbies</p><hr>
                    <div style="margin-top: 1em;">
                      {{ with .Site.GetPage "section" "hobbies" }}
                      {{ range .Pages.ByTitle.ByWeight }}
                    <div class="chip">
                        <i class="fa fa-heart"></i> {{.Title}}
                    </div>
                    {{ end }}
                    {{ end }}
                  </div>

                    </div>

                </div>


            </div>
        </div>
    </div>

<!--<div class="content container">
  <div class="row">
    <div class="col s12 m6">
      {{ .Content }}
    </div>
    <div class="col s12 m6">
      <img src="/img/uploads/profile_picture.png">
    </div>
  </div>
</div>-->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ partial "footer" . }}
