{{ partial "header" . }}
<!-- Preloader -->
  <div id="preloader">
    <div class="loader"></div>
  </div><!--preloader end-->

  <main class="page-container">

      <!-- Profile Page -->
          <section class="single-page">

              <!-- Profile Page Title-->
              <header class="page-title">
                  <span><i class="fa fa-user fa-3x"></i></span>
                  <h2>Profile</h2>
                  <p class="menu-desc">A Brief About Me...</p>
              </header>
              <!-- .page-title -->

      <!-- Profile Page Contents-->
              <article class="page-info container-fluid">
               <!-- about me -->
                  <section class="row about-me">
                      <div class="col-sm-5 col-sm-offset-1 profile-image">
                          <div class="pp-container">
                              <img src="img/avatar.png" alt="">
                          </div>
                          <h2><span>Greg</span><span>Sotolov</span></h2>
                          <h3>Unity 3D &amp; Virtual Reality Game Developer</h3>

                      </div>
                      <!--.Profile image end-->

                      <!-- bio-->
                      <div class="col-sm-6 bio">
                          <div class="bio-inner">
                              <div class="col-md-10">
                                  <h3>Awesome Virtual Reality Developer Located in Los Angeles</h3>
                                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                  <p> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>

                                  <div class="buttons">
                                      <a href="mailto:me@gregsotolov.com" class="btn hire-me">Connect With Me</a>
                                      <a href="resume.pdf" target="_blank" class="btn download-resume">Download Resume</a>
                                  </div>

                              </div>
                              </div>
                      </div>
                      <!-- .bio End -->
                  </section>
                  <!-- .about-me end-->

                  <!-- services-->
                  <section class="row services">
                      <div class="over-div"></div>
                      <div class="sec-divider"></div>
                      <h2 class="section-title">Areas Of Expertise</h2>

                      <div class="container service-list">

                          <div class="row">
                              <div class="col-sm-6 col-md-3 service">
                                  <span><i class="fa fa-code fa-3x"></i></span>
                                  <h3>Unity 3D</h3>
                                  <p></p>
                              </div> <!--single service -->

                              <div class="col-sm-6 col-md-3 service">
                                  <span><i class="fa fa-lightbulb-o fa-3x"></i></span>
                                  <h3>Game Design</h3>
                                  <p></p>
                              </div><!--single service -->

                              <div class="col-sm-6 col-md-3 service">
                                  <span><i class="fa fa-eye fa-3x"></i></span>
                                  <h3>Virtual Reality</h3>
                                  <p></p>
                              </div><!--single service -->

                              <div class="col-sm-6 col-md-3 service">
                                  <span><i class="fa fa-cogs fa-3x"></i></span>
                                  <h3>Rapid Prototyping</h3>
                                  <p></p>
                              </div><!--single service -->
                          </div> <!-- row of services -->
                      </div> <!-- service list-->

                  </section>
                  <!-- #Services end-->
<!--
                  <section class="row fun-facts">
                      <ul>
                          <li>
                              <h3>50+</h3>
                              <h5>Happy Clients</h5>
                          </li>
                          <li>
                              <h3><i class="fa fa-bicycle"></i></h3>
                              <h5>Cyclist</h5>
                          </li>
                          <li>
                              <h3>100+</h3>
                              <h5>Projects Done</h5>
                          </li>
                          <li>
                              <h3><i class="fa fa-camera-retro"></i></h3>
                              <h5>Photographer</h5>
                          </li>
                          <li>
                              <h3>200+</h3>
                              <h5>Coffee Cups</h5>
                          </li>
                      </ul>
                  </section> -->
                  <!-- Fun facts end-->

                  <footer class="row footer">
                     <!-- <a href="http://www.rupok.me">Nazmul hasan Rupok</a> --> <span>Copyright &copy; 2016 All right reserved</span>
                  </footer>
                  <!--footer end-->

              </article>
              <!-- .page-info -->
          </section> <!-- Single Page end -->


          <!-- Resume Page -->

          <section class="single-page">
              <header class="page-title">
                  <span><i class="fa fa-file-text fa-3x"></i></span>
                  <h2>Resume</h2>
                  <p class="menu-desc">My Qualifications...</p>
              </header>
              <!-- .page-title -->

    <!-- Resume Page Contents-->
              <article class="page-info container-fluid">
                  <section class="row resume">
                      <div class="over-div"></div>
                      <div class="container">
                          <div class="col-xs-6 education">
                              <h2>- Education -</h2>

                              {{ with .Site.GetPage "section" "education"}}
                              <ul class="edu-list">
                                {{ range $index, $p := .Pages.ByDate.ByWeight }}
                                  <li>
                                      <h3>{{ $p.Title }}</h3>
                                      <h4>{{ $p.Params.position }}</h4>
                                      <span>{{ $p.Params.display_date }}</span>
                                      {{ with $p.Content }}
                                      <div>
                                        {{ .}}
                                      </div>
                                      {{ end }}
                                  </li>
                                  {{ end }}
                              </ul>
                              {{ end }}
                          </div>

                          <div class="col-xs-6 employment">
                              <h2>- Employment -</h2>

                              {{ with .Site.GetPage "section" "employment"}}
                              <ul class="employment-list">
                                {{ range $index, $p := .Pages.ByDate.ByWeight }}
                                  <li>
                                      <h3>{{ $p.Title }}</h3>
                                      <h4>{{ $p.Params.position }}</h4>
                                      <span>{{ $p.Params.display_date }}</span>
                                      <div>
                                        {{ $p.Content }}
                                      </div>
                                  </li>
                                  {{ end }}
                                <!--  <li>
                                      <h3>Awesome Softwares</h3>
                                      <h4>Front-End Developer</h4>
                                      <span>Jan 2012-Dec 2012</span>
                                      <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.</p>
                                  </li>
                                  <li>
                                      <h3>Amazing Developers</h3>
                                      <h4>Intern Developer</h4>
                                      <span>Jan 2011- Dec 2011</span>
                                      <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus.</p>
                                  </li> -->
                              </ul>
                              {{ end }}
                          </div>
                      </div> <!-- .container-->
                  </section>
                  <!-- Resume section end -->

                  <section class="row skills">
                      <div class="over-div"></div>
                      <div class="sec-divider"></div>
                      <h2 class="section-title">My Key Skills</h2>

                          <div class='skill-container container'>
                              <div class='row'>
                                {{ with .Site.GetPage "section" "skills" }}
                                  {{ range $index, $p := .Pages }}
                                  <div class='col-xs-6 col-sm-4 skill'>
                                      <figure>
                                          <canvas height='150' id='{{ $p.Title| urlize | safeJS }}' width='150'></canvas>
                                          <figcaption>
                                              {{ .Title }}
                                          </figcaption>
                                      </figure>
                                  </div>
                                  {{ end }}
                                {{ end }}
                              </div> <!-- row end-->
                          </div> <!-- Skill container -->
                  </section>
                  <!-- Skills Section end -->
                  {{ with .Site.GetPage "section" "projects" }}
                  <section class="row recognition">
                      <div class="col-sm-6 rec-desc">
                          <div class="rec-inner">
                              <h2>Projects I've Worked On</h2>
                          </div>
                      </div>
                      <div class="col-sm-6 rec-list">
                          <ul>
                            {{ range $index, $p := .Pages.ByWeight }}
                            {{ if ne $index 0}}
                            <br>
                            {{ end }}
                              <div>
                                  <!--<span class="fa fa-trophy fa-5x pull-left fa-fw"></span>-->
                                  <h3>{{ $p.Title }}</h3>
                                  <h5><i>{{ $p.Params.position }}</i></h5>
                                  <div class="context-text default-children">
                                    {{ $p.Content }}
                                  </div>
                              </div>

                              {{ end }}
                          </ul>
                      </div>
                  </section>
                  {{ end }}
                  <!-- Recognition section end -->

                  <footer class="row footer">
                    <!--  <a href="http://www.rupok.me">Nazmul hasan Rupok</a> --> <span>Copyright &copy; 2016 All right reserved</span>
                  </footer>
                  <!--footer end-->

              </article>
              <!-- .page-info -->
          </section><!-- Single Page end -->


          <!-- Portfolio Page -->

          <section class="single-page">
              <header class="page-title">
                  <span><i class="fa fa-briefcase fa-3x"></i></span>
                  <h2>Portfolio</h2>
                  <p class="menu-desc">Some of My Works...</p>
              </header>
              <!-- .page-title -->

    <!-- Portfolio Page Contents-->
              <article class="page-info container-fluid">
                  <section class="row portfolios">
                      <div class="portfolio-container">

                          <div class="controls">
                              <button class="filter" data-filter="all">All</button>
                              <button class="filter" data-filter=".category-1">Virsix</button>
                              <button class="filter" data-filter=".category-2">Prototypes / Weekend Projects</button>
                              <button class="filter" data-filter=".category-3">Video / Photography</button>
                          </div>

                          {{ with .Site.GetPage "section" "portfolio"}}
                          <div id="portfolio" class="portfolio-items">

                            {{ range $index, $p := .Pages }}
                              <!--Single portfolio item -->
                              <div class="col-sm-6 col-md-4 mix category-1" data-myorder="Web Design">
                                  <figure class="effect-roxy">
                                      <img src="{{ $p.Params.image | default "img/portfolio/thumb/placeholder_thumb.jpg"}}" alt="" />
                                      <figcaption>
                                          <h2><span>{{ $p.Title }}</span></h2>
                                          <p>{{ $p.Params.description }}</p>
                                          <a href="#{{ $p.Title|urlize}}" class="open-portfolio" >Explore</a>
                                      </figcaption>
                                  </figure>
                              </div>
                              <!-- Popup content -->
                              <div id="{{ $p.Title|urlize }}" class="white-popup mfp-hide">
                                  <img src="{{ $p.Params.image | default "img/portfolio/placeholder.jpg"}}" alt="Portfolio Image">
                                  <h2 class="project-title">{{ $p.Title }}</h2>
                                  <div class="project-desc">{{ $p.Content }}</div>
                                  <a class="project-url btn" target="_blank" href="{{ $p.Params.link }}">Watch Gameplay Video</a>
                              </div>
                              <!--.Single item end-->
                              {{ end }}

                          <!--Load more button-->
    <!--                      <a href="#" class="btn btn-load-more">Load More</a> -->
    <br><p>More coming soon!</p>
                      </div>
                      {{ end }}
                      <!-- .portfolio-container -->
                  </section>
                  <!-- portfolio section end-->


                  <!-- Testimonials Section
       ================================================== -->
  <!--                <section class="row testimonials">
                      <div class="over-div"></div>
                      <div class="sec-divider"></div>
                      <h2 class="section-title">Some of my happy clients</h2>

                      <div class="col-md-8 col-md-offset-2 text-container">
                          <div id="testimonial-slides" class="owl-carousel">
                              <div>
                                  <blockquote>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                      <cite> Jonathan Doe</cite>
                                  </blockquote>
                              </div> -->
                              <!-- Single testimonial -->
<!--
                              <div>
                                  <blockquote>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                      <cite> Jane Doe</cite>
                                  </blockquote>
                              </div> -->
                              <!-- Single testimonial -->
<!--
                              <div>
                                  <blockquote>
                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer</p>
                                      <cite> John Doe</cite>
                                  </blockquote>
                              </div>  -->
                              <!-- Single testimonial -->
<!--
                          </div>
                          <!-- Owl Carousel End -->
  <!--                    </div>
                      <!-- text-container ends -->

        <!--          </section>
                  <!-- Testimonials Section End-->

<!--
                  <section class="row fun-facts">
                      <ul>
                          <li>
                              <h3>50+</h3>
                              <h5>Happy Clients</h5>
                          </li>
                          <li>
                              <h3> <i class="fa fa-bicycle"></i> </h3>
                              <h5>Cyclist</h5>
                          </li>
                          <li>
                              <h3>100+</h3>
                              <h5>Projects Done</h5>
                          </li>
                          <li>
                              <h3> <i class="fa fa-camera-retro"></i> </h3>
                              <h5>Photographer</h5>
                          </li>
                          <li>
                              <h3>200+</h3>
                              <h5>Coffee Cups</h5>
                          </li>
                      </ul>
                  </section>
                  <!-- Fun facts end-->

                  <footer class="row footer">
                  <!--    <a href="http://www.rupok.me">Nazmul hasan Rupok</a> --> <span>Copyright &copy; 2016 All right reserved</span>
                  </footer>
              </article>
              <!-- .page-info -->
          </section><!-- Single Page end -->


          <!-- Contact Page-->

          <section class="single-page">
              <header class="page-title">
                  <span><i class="fa fa-paper-plane fa-3x"></i></span>
                  <h2>Contact</h2>
                  <p class="menu-desc">Way to Reach Me...</p>
              </header>
              <!-- .page-title -->

    <!-- Contact Page Contents-->
              <article class="page-info container-fluid">
                  <section class="row contact">
                      <div class="over-div"></div>
                      <div class="sec-divider"></div>
                      <h2 class="section-title">Drop me a line</h2>

                      <!-- form -->
                      <section class="row">
                          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-container">
                              <form action="#" id="contactForm" method="post" name="contactForm">
                                  <fieldset>
                                      <div>
                                          <input id="contactName" name="contactName" placeholder="Name" size="35" type="text" value="">
                                      </div>

                                      <div>
                                          <input id="contactEmail" name="contactEmail" placeholder="Email" size="35" type="email" value="">
                                      </div>

                                      <div>
                                          <textarea cols="5" id="contactMessage" name="contactMessage" placeholder="Message" rows="5"></textarea>
                                      </div>

                                      <div>
                                          <!-- contact-warning -->

                                          <div id="message-warning">
                                              Error boy
                                          </div>
                                          <button class="submit">Send <i class="fa fa-angle-right"></i>
                                          </button>
                                          <span id="image-loader"><img alt="" src="img/svg-loaders/mail-loader.svg"></span>
                                      </div>
                                  </fieldset>
                              </form>
                              <!-- Form End -->
                              <!-- contact-success -->

                              <div id="message-success">
                                  <i class="fa fa-check"></i>Your message was sent, thank you!
                                  <br>
                              </div>
                          </div>
                     </section>
                      <!-- Form Container End -->


                      <section class="row social">
                          <div class="col-md-6 address">
                              <div class="row location">
                                  <div class="col-md-12 col-lg-10 col-lg-offset-1">
                                      <ul>
                                          <li>
                                              <img src="img/icons/location-map.svg" alt="">
                                              <h4>Los Angeles, California</h4>
                                          </li>
                                          <li>
                                              <img src="img/icons/phone-icon.svg" alt="">
                                              <h4>+1 (818) 465-8711	</h4>
                                          </li>
                                          <li>
                                              <img src="img/icons/email-icon.svg" alt="">
                                              <h4>me@gregsotolov.com</h4>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                              <nav class="row social-profiles">
                                  <div class="col-md-12 col-lg-9 col-lg-offset-2">
                                      <ul>
                                          <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                                          </li>
                                          <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                                          </li>
                                          <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                                          </li>
                                          <li><a href="#"><i class="fa fa-github fa-2x"></i></a>
                                          </li>
                                          <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a>
                                          </li>
                                          <li><a href="#"><i class="fa fa-slideshare fa-2x"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </nav>
                          </div>
                          <div class="col-md-6 map-container">
                              <div id="map"></div>
                          </div>

                      </section>
                      <!--Social End-->
                  </section>
                  <!--Contact End-->
                  <footer class="row footer">
                   <!--   <a href="http://www.rupok.me">Nazmul hasan Rupok</a> --> <span>Copyright &copy; 2016 All right reserved</span>
                  </footer>

              </article>
              <!-- .page-info -->
          </section><!-- Single Page end -->

      <a href="#" class="page-close">Close</a>
      <a href="#" class="page-scroll">Scroll</a>
  </main>
  <!-- .page-container -->


<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ partial "footer" . }}
