.darkness{
  background-image: url(/img/patterns/darkness.png);
}


.stardust{
  background-image: url(/img/patterns/stardust.png);
}

.small_steps{
  background-image: url(/img/patterns/small_steps.png);
}
