@import "./node_modules/materialize-css/sass/materialize.scss";
$primary-color: color("grey", "darken-4");
$primary-color-light: false;
$primary-color-dark: false;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("red", "darken-2");
$success-color: color("red", "base");
$error-color: color("red", "base");
$tertiary-color: color("grey", "lighten-3");

  $link-color: color("grey", "darken-3");

.primary-color {
  @extend .grey, .darken-4
}

.secondary-color {
  @extend .red, .darken-2
}

.tertiary-color {
  @extend .grey, .lighten-3
}

.primary-color-text {
  @extend .grey-text, .text-darken-4
}

.secondary-color-text {
  @extend .red-text, .text-darken-2
}

.tertiary-color-text{
  @extend .grey-text, .text-darken-3
}

.content-text > *{
  @extend .primary-color-text
}

.link-color-disabled{
  @extend .grey-text, .text-darken-3
}

.link-color{
  @extend .grey-text, .text-darken-3;
}


.link-color:hover, .link-color-disabled:hover, .link-secondary-color:hover{
  color: darken($secondary-color, 10%) !important;
}


.link-secondary-color{
  text-decoration: underline;
  color: $secondary-color;
}
