@font-face {
font-family: "Disco";
src: url("/fonts/DISCO.ttf");
}

@font-face {
font-family: "Caviar Dreams";
src: url("/fonts/CaviarDreams.ttf");
}

@font-face {
font-family: "Caviar Dreams Bold";
src: url("/fonts/CaviarDreams_Bold.ttf");
}

@font-face {
font-family: "Existence Light";
src: url("/fonts/Existence-Light.otf");
}
