@font-face{
  font-family: "Daniel";
  src: url("/fonts/daniel.ttf");
}

@font-face{
  font-family: "Daniel Bold";
  src: url("/fonts/danielbd.ttf");
}

@font-face{
  font-family: "Daniel Black";
  src: url("/fonts/Daniel-Black.otf");
}

@font-face{
  font-family: "Slaytanic";
  src: url("/fonts/Slaytanic.ttf");
}

@font-face{
  font-family: "Chispa";
  src: url("/fonts/Chispa.otf");
}

@font-face{
  font-family: "Belligerent";
  src: url("/fonts/belligerent.ttf");
}

@font-face{
  font-family: "Copystruct";
  src: url("/fonts/Copystruct.ttf");
}

@font-face{
  font-family: "Copystruct Bold";
  src: url("/fonts/Copystruct_Bold.ttf");
}

@font-face{
  font-family: "Gothic";
  src: url("/fonts/gothic_ultra_ot.otf");
}

@font-face{
  font-family: "Oswald";
  src: url("/fonts/oswald/Oswald-Regular.ttf");
}

@font-face{
  font-family: "Oswald Light";
  src: url("/fonts/oswald/Oswald-Light.ttf");
}

.primary-font{
  font-family: "Belligerent", "Gothic", Arial;
}

.secondary-font{
  font-family: "Chispa", Arial;
}
