@import "colors.scss";

.black-outline{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@keyframes Scroll {
  from {background-position: 0 0; }
  to { background-position: 100 0;}

}

.bg-scroll{
  background-repeat: repeat;

  animation-name: Scroll;
  animation-duration: 10s;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.star-scroll{
  background-image: url(/img/bg.png);
  @extend .bg-scroll;
}
