{{ partial "header" . }}

<div id="mainContainer1" class="container-fluid resume-container bg-body tertiary-color" >
  <h3 class="center-align">{{ .Title }}</h3>
  <div class="context-text">
    {{ .Content }}
  </div>
  <hr>
  <div class="rows">
    {{ range $index, $p := .Pages }}
    <div class="row">
      {{ if modBool $index 2 }}
      <div class="col s12 l8">
        <div class="row">
        <h4 class="center-align">{{ $p.Title }}</h4>
      </div>
        <div class="context-text">
          {{ .Content }}
        </div>
      </div>

      <div class="col s12 l4">
        <div class="carousel carousel-slider">
            {{ range $img := $p.Params.images }}
            <a class="carousel-item" href="#!"><img class="slider-img" src="{{ $img.image }}"></a>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ else }}
      <div class="col s12 l4">
        <div class="carousel carousel-slider">
            {{ range $img := $p.Params.images }}
            <a class="carousel-item" href="#!"><img class="slider-img" src="{{ $img.image }}"></a>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col s12 l8">
        <div class="row">
        <h4 class="center-align">{{ $p.Title }}</h4>
      </div>
        <div class="context-text">
          {{ .Content }}
        </div>
      </div>


      {{ end }}
    </div>
    {{ end }}
    <div class="row">
      <h2 class="center-align underline">Pricing Information</h2>
      <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-fixed-width bg-nav">
            {{ range where .Pages "Params.pricing" "!=" nil }}
            <li class="tab">
              <a href="#{{ .Title|urlize }}" class="link-color modal-trigger waves-effect waves-light">{{ .Title }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ range where .Pages "Params.pricing" "!=" nil }}
      <div class="modal pricing-modal modal-fixed-footer" id="{{ .Title|urlize }}">
        <div class="modal-content">
          <h3 class="center-align">{{ .Title }}</h3>
          <div class="content-text">
            {{ .Params.pricing|markdownify}}
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        </div>
      </div>

      </div>
      {{ end }}
      <div class="row">
        <ul class="collapsible popout" data-collapsible="accordion">
          {{ range $index, $p := where .Pages "Params.pricing" "!=" nil }}
          <li>
            <div class="collapsible-header bg-nav">{{.Title}}</div>
            <div class="collapsible-body bg-body"> <div class="context-text">{{ .Params.pricing|markdownify }}</div></div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>

</div>


{{ partial "footer" . }}

{{ define "jquery" }}
$(".pricing-modal").modal({

});
{{ end }}
